<!doctype html>
<html>
    <head>
        <title>An App</title>
        <link rel="stylesheet" href="/styles/styles.css">
    </head>
    <body>
        <header>
            <img src="/img/node.jpg" alt="logo nodejs" class="logo-size">
        </header>
        {{{body}}}
    </body>
</html>